.error-page {
    text-align: center;
    padding: 120px 20px;
}

.error-page h1 {
    font-size: 6rem;
    font-weight: 700;
}

.error-page p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.main-btn {
    background-color: #53403C;
    color: white;
}
