
/* Registration Section */
.registration-section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 0 auto;
    max-width: 500px;
    min-height: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.registration-section h1 {
    font-weight: 700;
    color: #53403C;
    margin-bottom: 30px;
    text-align: center;
}
.registration-section .form-control {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #53403C;
}
.registration-section .form-control:focus {
    border-color: #53403C;
    box-shadow: 0 0 5px rgba(83, 64, 60, 0.3);
}
.registration-section .btn-sign-up {
    background-color: #53403C;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.3s ease;
    text-transform: uppercase; /* Match the uppercase style */
}
.registration-section .btn-sign-up:hover {
    background-color: #7a5c58;
}
.registration-section .login-link {
    text-align: center;
    margin-top: 15px;
}
.registration-section .login-link a {
    color: #007bff;
    text-decoration: none;
}
.registration-section .login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .registration-section h1 {
        font-size: 2rem;
    }
    .registration-section .form-control {
        font-size: 0.85rem;
    }
    .registration-section .btn-sign-up {
        padding: 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .registration-section {
        max-width: 92%;
        padding: 8px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .registration-section {
        padding: 20px;
        margin: 0 auto;
        max-width: 90%;
        min-height: auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .registration-section h1 {
        font-size: 1.5rem;
    }
    .registration-section .form-control {
        font-size: 0.8rem;
        padding: 8px;
    }
    .registration-section .btn-sign-up {
        padding: 6px;
        font-size: 0.85rem;
    }
}


@media (min-width: 1200px) {
    .registration-section {
        max-width: 600px;
        padding: 40px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .registration-section h1 {
        font-size: 2.5rem;
    }
    .registration-section .form-control {
        font-size: 1rem;
        padding: 12px;
    }
    .registration-section .btn-sign-up {
        font-size: 1rem;
        padding: 12px;
    }
}
